.greenBackground{
    background-color: #1c6e26;
}

.greenText{
    color: #1c6e26!important;
}

.greyText{
    color: #96989A!important;
}

.libreProza{

    font-family: 'Proza Libre', sans-serif;

}

.parafImg{
    color: #96989A;
}

@media screen and (min-width: 1350px) {
    .container{
        max-width: 1330px;
    }
}

.fa-light{
    color: lightgrey;
}

a{
    text-decoration: none!important;
}

.radius{
    border-radius: 50px;
}

.z-index{
    z-index: 1;
}

.radius-top{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: #367339;
    border-radius: 20px;
}

.button-color{
    background-color: #F1F1F2;
}

.background-img{
    background-image: url("images/women-choice.png");
}

hr{
    width: 275px!important;
}

.image-z-index{
  z-index: 1!important;
}

.kalam{
    font-family: 'Kalam', cursive;
}

.radius-left{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.radius-right{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.selection-bg-color{
    background-color: #d3d4d683;
}

.font30{
    font-size: 30px;
}

.lineh40{
    line-height: 40px;
}

.font20{
    font-size: 20px;
    letter-spacing: 1px;
}

.font50{
    font-size: 50px;
}

.font17{
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1px;
}

.font17lt-0{
    font-size: 17px;
}

.font16{
    font-size: 16px;
}

.font25{
    font-size: 25px;
    letter-spacing: -2px;
    line-height: 30px;
}

.font25lt1{
    font-size: 25px;
    letter-spacing: 1px;
}

.font25lt0{
    font-size: 25px;
}

.font40{
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 38px;
}

.font65lh{
    font-size: 65px;
    line-height: 70px;
}

.font65lt1{
    font-size: 65px;
    letter-spacing: 2px;
}

.font85{
    font-size: 85px;
}

.font75{
    font-size: 75px;
    letter-spacing: -5px;
}

.radius30{
    border-radius: 30px;
}

.nav-link.active{
    background-color: #1c6e26;
    color: white!important;
}


@media only screen and (max-width: 992px) {
    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .nav-btn{
        position: fixed;
        right: 15px;
        top: 15px;
        border: none;
    }

    .margintop{
        margin-top: 85px!important;
    }

    .nav-link.active{
        background-color: white;
        color: #1c6e26!important;
    }

    .fa-mobile{
        font-size: small!important;
    }

    .footnav{
        background-color: lightgray;
    }

}

html { scroll-behavior: smooth; }

.letters-4web{
    letter-spacing: -4px;
}

.letters-1web{
    letter-spacing: -1px;
}

.letters1web{
    letter-spacing: 1px;
}

.letters0web{
    letter-spacing: 0px;
}

.icon-size{
    font-size: 20px;
}

.fa-times{
    color: #96989A!important;
}

@media only screen and (max-width: 500px) {

    .fontmobile-42{
        font-size: 42px;
        line-height: 40px;
    }

    .fontmobile-12{
        font-size: 12px;
       /* letter-spacing: -3px;*/
    }

    .fontmobile-11{
        font-size: 11px;
        /* letter-spacing: -3px;*/
    }

    .fontmobile-10{
        font-size: 10px;
    }

    .fontmobile-15{
        font-size: 15px;
    }

    .fontmobile-13{
        font-size: 13px;
    }

    .fontmobile-20{
        font-size: 20px;
        line-height: 18px;
    }

    .fontmobile-25{
        font-size: 25px;
    }

    .radius-mobile{
        border-radius: 20px;
    }
    
    .hr-mobile{
        border: black;
        width: 20px;
    }

    .lineh{
        line-height: 15px;
    }
    .letters1{
        letter-spacing: 1px;
    }

    .letters-1{
        letter-spacing: -1px;
    }

    .letters-3{
        letter-spacing: -3px;
    }

    .fa-mobile{
        font-size: small;
    }

    #mobilemap{
        height: 400px;
    }

}
